@import '../variables.scss';

.hero {
    background-color: $black3;
    color: $white;
    padding: 2em 1em;
    padding-block: 5em;
    padding-top: 9em;

    &__content {
        max-width: 37em;
        margin: 0 auto;

        h1 {
            @include H1;
            margin: 0.5em 0;
        }

        h4 {
            @include H4;
            margin: 0.5em 0 2em;
            letter-spacing: 2.8px;            
            line-height: 1em;
            margin-bottom:2.2em;
            text-transform: uppercase;
        }

        .btn {
            display: inline-block;
            padding: 0.75em 2em;
            font-size: 1em;
            font-weight: bold;
            border: none;
            cursor: pointer;
            margin: 0.5em;
            transition: background-color 0.3s;
            text-transform: uppercase;

            &-primary {
                background-color: $beige;
                color: $white;
            }

            &-secondary {
                background-color: transparent;
                color: $white;
                border: 2px solid $white;
            }
        }
    }
}

.availability {
    background-color: #444;
    color: $white;
    padding: 2em 1em;
    text-align: center;

    &__date {
        margin: 1em 0;

        label {
            display: block;
            font-family: 'Archivo', sans-serif;
            font-size: 1em;
            margin-bottom: 0.5em;
        }

        input[type="date"] {
            padding: 0.5em;
            font-size: 1em;
            border: none;
            background-color: $black3;
            color: $white;
            border-bottom: 2px solid $beige;
            width: 80%;
        }
    }

    .btn {
        display: inline-block;
        padding: 0.75em 2em;
        font-size: 1em;
        font-weight: bold;
        border: none;
        cursor: pointer;
        margin-top: 1em;
        transition: background-color 0.3s;
        background-color: $beige;
        color: $white;
        text-transform: uppercase;
        margin-right: 25%;
    }
}